
<div class="container">
  <h2> Your Challenges </h2>
    <div class="cards">
        <% @challenges.each do |challenge| %>
            <div class="card">
             <%= link_to challenge do %>
              <div class="card-header">
                <div class="card-avatar">
                  <%= cl_image_tag("BennoSqAvatar-01.png", class: "avatar") %>
                </div>
                <div id="header-body">
                  <%= challenge.title %><br>
                  <p><%= challenge.location %></p>
                </div>
              </div>
                <div class="card-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/300x200);">
                </div>

                <div class="card-footer">
                  <div id="footer-content">
                    <p><strong>Challenge details;</strong> <p><%= challenge.detail %></p>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
    </div>
</div>
