<div class="container">
  <div class="row">
    <div class="col-xs-12">
            <%= link_to "Back to all challenges", challenges_path %>
      <h1> <%= @challenge.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img src="https://source.unsplash.com/300x500">
    </div>
    <div class="col-xs-12 col-md-7">
      <h3>The Challenge</h3>
      <h5><%= @challenge.detail %></h5>
      <h4>Location</h4>
      <h5><%= @challenge.location %></h5>
      <h4>Cost</h4>
      <h5>$<%= @challenge.cost %></h5>
       <%= simple_form_for [@challenge, @participant] do |f| %>
        <%= f.button :submit, class: "btn-primary" %>
        <% end %>
    </div>
    <div class="col-xs-12 col-md-1"></div>
  </div>
</div>

