<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> <%= @challenge.title %></h1>
      <%= link_to "Back to all challenges", challenges_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>The Challenge</h3>
          <h5><%= @challenge.detail %></h5>
        <h4>Location</h4>
          <h5><%= @challenge.location %></h5>
          <h4>Cost</h4>
            <h5>$<%= @challenge.cost %></h5>
    </div>
  </div>
</div>

